<!DOCTYPE html>
<html xmlns="http://www.w3.org/199/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title th:text="${titre}">Titre</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
	<h1 th:text="${titre}"></h1>
	<form th:action="@{/emprunt/add}" th:object="${empruntForm}"
		method="post">
		date_debut
		<input type="text" th:field="*{date_debut}"/>
		<br/>
		date_fin:
		<input type="text" th:field="*{date_fin}"/>
		<br/>
		delai:
		<input type="text" th:field="*{delai}"/>
		<br/>
		<p>faite votre choix parmi clients:</p>
		<select  th:field="*{clientEmprunt}">
		<option th:each= "client :${listClients}" th:value="${client.id}" th:text="${client.nom}">
		</select>
		<br/>
		
		<p>faite votre choix parmi livres:</p>
		<select  th:field="*{empruntLivres}">
		<option th:each= "livre :${listLivres}" th:value="${livre.id}" th:text="${livre.titre}">
		</select>
		<br/>
		<input type="submit" value="Create" />
	</form>
	<a th:href="@{/emprunt/emprunts}">retour</a>
</body>
</html>