<!DOCTYPE html>
<html xmlns="http://www.w3.org/199/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title th:text="${titre}">Titre</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
	<h1 th:text="${titre}"></h1>
	<form th:action="@{/client/update}" th:object="${clientForm}"
		method="post">
		firstname:
		<input type="hidden" th:field="*{id}"/>
		<input type="text" th:field="*{prenom}"/>
		<br/>
		LastName:
		<input type="text" th:field="*{nom}"/>
		<br/>
		<input type="submit" value="Create" />
	</form>
	<a th:href="@{/client/clients}">retour</a>
</body>
</html>